<% include partials/header %>
<header class=""jumbotron">
<h1> Create a new campground </h1>
</header>




<form action="/campgrounds" method="POST">
    <input type="text" name="name" placeholder="text">
    <input type="text" name="image" placeholder="Image URL">
    <button>Submit!</button>
</form>

<a href="/campgrounds">Back!</a>
<% include partials/footer %>